.style-switcher
{
    position: fixed;
    left: 0px;
    top: 20px;
    padding: 15px;
    width: 200px;
    border: 1px solid var(--bg-black-50);
    background: var(--bg-black-100);
    z-index: 101;
    border-radius: 5px;
    transition: all 0.3s ease;
    transform: translateX(-100%);
}

.style-switcher.open
{
    transform: translateX(+25px);
}

.style-switcher .main-icon
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px !important;
    width: 50px !important;
    margin-left: 15px;
}

.style-switcher .s-icon
{
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    background: var(--bg-black-100);
    color: var(--text-black-900);
    left: 100%;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
}

.style-switcher .remote-control i,
.style-switcher .s-icon i 
{
    line-height: 40px;
}

.style-switcher .style-switcher-toggler
{
    top: 0;
}

.style-switcher .style-switcher-toggler i
{
    animation: turnAnimation 1.2s infinite;
}

@keyframes turnAnimation {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}


.style-switcher h4
{
    margin: 0 0 10px;
    color: var(--text-black-100);
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}

.style-switcher .colors
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.style-switcher .colors span
{
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid red;
}

.style-switcher .color-1
{
    background: #FF8FB1;
}

.style-switcher .color-2
{
    background: #F9F54B;
}

.style-switcher .color-3
{
    background: #85CDFD;
}

.style-switcher .color-4
{
    background: #AACB73;
}

.style-switcher .color-5
{
    background: #975C8D;
}
/*  */


.style-switcher .remote-control
{
    top: 55px;
    display: flex;
}

.style-switcher .remote-control .box-icon 
{
    height: 30px;
    width: 30px;
    font-size: 20px;
    background: var(--bg-black-900);
    color: var(--text-black-900);
    border-radius: 50%;
    border: 1px solid var(--skin-color);
}

.remote-control .remote-control-item
{
    margin-right: 5px;
}

.remote-control .language
{
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

